@font-face {
  font-family: "Vazir";
  font-weight: 400;
  src: url(../fonts/Vazir-Light.woff2);
}

@font-face {
  font-family: "Vazir";
  font-weight: 500;
  src: url(../fonts/Vazir-Medium.woff2);
}

@font-face {
  font-family: "Vazir";
  font-weight: 800;
  src: url(../fonts/Vazir-Bold.woff2);
}

body,
button,
input,
textarea {
  font-family: "Vazir";
}
